<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KNURE-Sked.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SkedEx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77039BAC196D8D8800122076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7731CB791955B3CB009913CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7731CBA01955BBE8009913CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>773F6443196939220081165C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>778B6A8519E0774500DF98F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77A8DB5419CB7412003E8F41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77C1951F19BC513E000C5CEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77D2D00D19B85FAB008D3657</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E0B06D19694CC6007ECFC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77F49BEF19CB6EAC00DA70BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C33FCC621819965300328F6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C33FCC831819965300328F6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
